.ab1{

    text-align: center;
    font-size: 30px;
    color: black;
}
#abut{

    padding-left:30%;
    padding-right:30%;
    color: black;
    
}

.rapper{
  position: absolute;
  width: 50%;
  margin-left: 30%;
}

.Content{
  height :100% ;
  font-style: italic;
  color: black;
  font-size : 100% ;
}


.logo{
  position: left;
  width : 30%;
}
/*
.abpic{

  margin-top : 50%;
  width :30%;
}
*/

