body {
    padding: 0;
    height: 100vh;
    font-family: sans-serif;

}

.trending {
    background-color: #7fc8a9;
    border-radius: 10px;
    width: 30%;
    height: 500px;
    margin-left: 0px;
    margin-top: 80px;
    margin-right: 40px;
    float: right;
}

.trending li {
    list-style: none;
}

.trending li a {

    text-decoration: none;
    color: rgb(31, 29, 29);
    font-family: Verdana;
    font-size: 15px;
}

.trending li a:hover {
    color: #016b13;
}

/* .header1 {
    margin-left: 20px;
    font-size: 60px;
} */

.slider {
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;

}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #7af5b1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #7fc8a9;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #30f85b;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #7af5b1;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #7af5b1;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #7af5b1;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #7af5b1;
}

.main-text {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.5;
}
